<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>红杏SSR 控制后台</title>

    <!-- main JS libs -->
    <script src="../static/vanilla-cream-css/js/libs/modernizr.min.js" th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js" th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js" th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js" th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css" th:href="@{/vanilla-cream-css/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/vanilla-cream-css/style.css"  th:href="@{/vanilla-cream-css/style.css}"  />
    <!-- scripts -->
    <script src="../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>

    <!-- Include all needed stylesheets and scripts here -->

    <!--[if lt IE 9]><script src="../static/vanilla-cream-css/js/respond.min.js" th:src="@{/vanilla-cream-css/js/respond.min.js}"></script><![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {filter: none !important;}
    </style>
    <![endif]-->
</head>
<body>
<div class="col-sm-4 col-sm-offset-4">
    <div class="dropdownMenu style2 gradient">
        <a id="drop1" href="#" role="button" class="dropdown-toggle gradient" data-toggle="dropdown" hidefocus="true" style="outline: none;"><i class="ico-cat ico-cat1 gradient"></i>页面</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation" class="first"><a role="menuitem" tabindex="-1" href="/user/userlist" hidefocus="true" style="outline: none;" class="gradient"><i class="ico-cat ico-cat2 gradient"></i>用户列表</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" hidefocus="/vps/vpslist" style="outline: none;" class="gradient"><i class="ico-cat ico-cat3 gradient"></i>服务器列表</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" hidefocus="/pakeage/pakeagelist" style="outline: none;" class="gradient"><i class="ico-cat ico-cat4 gradient"></i>套餐列表</a></li>
            <li role="presentation" class="last"><a role="menuitem" tabindex="-1" href="#" hidefocus="true" style="outline: none;" class="gradient"><i class="ico-cat ico-cat6 gradient"></i>暂定</a></li>
        </ul>
    </div>
    <H2>红杏SSR</H2>
</div>

</body>
</html>