<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>新增用户</title>

    <!-- main JS libs -->
    <script src="../static/vanilla-cream-css/js/libs/modernizr.min.js" th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js" th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js" th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js" th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css" th:href="@{/vanilla-cream-css/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/vanilla-cream-css/style.css"  th:href="@{/vanilla-cream-css/style.css}"  />
    <!-- scripts -->
    <script src="../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>

    <!-- Include all needed stylesheets and scripts here -->

    <!--[if lt IE 9]><script src="../static/vanilla-cream-css/js/respond.min.js" th:src="@{/vanilla-cream-css/js/respond.min.js}"></script><![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {filter: none !important;}
    </style>
    <![endif]-->
</head>

<body>
<div class="col-sm-4 col-sm-offset-4">
    <div class="add-comment styled boxed boxed-cream gradient" id="addcomments">
        <span class="add-comment-close">×</span>
        <div class="add-comment-title gradient"><h3>添加用户</h3></div>
        <div class="comment-form">
            <script type="text/javascript">
                bkLib.onDomLoaded(function() {
                    var myNicEditor = new nicEditor({
                        buttonList : [
                            'bold',
                            'italic',
                            'underline',
                            'forecolor',
                            'left',
                            'center',
                            'right',
                            'justify'
                        ]
                    });
                    myNicEditor.setPanel('edit_buttons');
                    myNicEditor.addInstance('styled_message');
                });
                setTimeout(function () {
                    var nic_width = $('.nicEdit-panel').width();
                    $('.nicEdit-container').css('width', nic_width);
                    $('.nicEdit-main').css('width', nic_width-24);
                }, 2000);
                $(window).resize(function() {
                    var nic_width = $('.nicEdit-panel').width();
                    $('.nicEdit-container').css('width', nic_width);
                    $('.nicEdit-main').css('width', nic_width-24);
                });
            </script>
            <form action="#" method="post" id="commentForm" class="ajax_form">
                <div class="form-inner">
                    <div class="field_select">
                        <label for="username" class="label_title">服务商:</label>
                        <input type="text" name="subject" id="username" value=""  class="inputtext input_middle required gradient" hidefocus="true" style="outline: none;" th:value="${vps.vpsService}"
                               th:field="*{vps.vpsService}">
                    </div>
                    <div class="field_text">
                        <label for="vpsname" class="label_title">服务器名称:</label>
                        <input type="text" name="subject" id="vpsname" value=""  class="inputtext input_middle required gradient" hidefocus="true" style="outline: none;" th:value="${vps.vpsName}"
                               th:field="*{vps.vpsName}">
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="port" class="label_title">ip:</label>
                        <input type="text" name="subject" id="port" value="" placeholder="从5000开始" class="inputtext input_middle required gradient" hidefocus="true" style="outline: none;" th:value="${vps.ip}"
                               th:field="*{vps.ip}">
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="transfer" class="label_title">用户名:</label>
                        <input type="text" name="subject" id="transfer" value="" placeholder="40" class="inputtext input_middle required gradient" hidefocus="true" style="outline: none;" th:value="${vps.userName}"
                               th:field="*{vps.userName}">
                    </div>
                    <div class="clear"></div>
                    <div class="field_text">
                        <label for="user_speedthread" class="label_title">密码:</label>
                        <input type="text" name="subject" id="user_speedthread" value="" placeholder="1500" class="inputtext input_middle required gradient" hidefocus="true" style="outline: none;" th:value="${vps.password}"
                               th:field="*{vps.password}">
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="rowSubmit">
                    <a onclick="document.getElementById('commentForm').reset();return false" href="/vps/vpslist" class="link-reset btn btn-white" hidefocus="true" style="outline: none;"><span>返回</span></a>
                    <span class="btn" style="opacity: 1;"><input type="submit" id="send" value="提交" hidefocus="true" style="outline: none;" class="gradient"></span>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>